<mat-card class="content">
    Pipes are essentially a means to perform string formatting on interpolated data without adding code to your model.
    <br>
    According to angular.io/guide a few Commonly used pipes include:
    <ul>
        <li>
            UpperCasePipe	Transforms text to all upper case.
        </li>
        <li>
            LowerCasePipe	Transforms text to all lower case.
        </li>
        <li>
            DatePipe	Formats a date value according to locale rules.
        </li>
        <li>
            CurrencyPipe	Transforms a number to a currency string, formatted according to locale rules.
        </li>
        <li>
            DecimalPipe	Transforms a number into a string with a decimal point, formatted according to locale rules.
        </li>
        <li>
            PercentPipe	Transforms a number to a percentage string, formatted according to locale rules.
        </li>
    </ul>

    The following is an example of each of these pipes in action:
    <img src="../../assets/images/pipes.PNG">
    <br>
    {{caseText | uppercase}}
    <br>
    {{caseText | lowercase}}
    <br>
    {{date | date: "longDate"}}
    <br>
    {{money | currency: 'EUR'}}
    <br>
    {{pi | number: '1.1-5' | percent}}
</mat-card>
