[submodule "Aaron Hertner/Hero_App"]
	path = Aaron Hertner/Hero_App
	url = https://github.com/AaronHertner/Hero_App.git
[submodule "Colin Peters/Colin_ShowcaseApp"]
	path = Colin Peters/Colin_ShowcaseApp
	url = https://github.com/Cpete040/Colin_ShowcaseApp.git
[submodule "Vidulash Rajaratnam/Vidu_PortfolioApp"]
	path = Vidulash Rajaratnam/Vidu_PortfolioApp
	url = https://github.com/Vidulashr/Vidu_PortfolioApp.git
[submodule "Rajitha Muthukrishnan/Rajitha_NotesApp"]
	path = Rajitha Muthukrishnan/Rajitha_NotesApp
	url = https://github.com/RajithaMuthukrishnan/Rajitha_NotesApp.git
[submodule "Gurpiar Brar/Gurpiar_GroupChatApp"]
	path = Gurpiar Brar/Gurpiar_GroupChatApp
	url = https://github.com/GurpiarBrar/Gurpiar_GroupChatApp.git
[submodule "AngularHomeChat"]
	path = AngularHomeChat
	url = https://github.com/DragiPlakalovic/AngularHomeChat.git
