[submodule "Aaron Hertner/Hero_App"]
	path = Aaron Hertner/Hero_App
	url = https://github.com/AaronHertner/Hero_App.git
[submodule "Colin Peters/Colin_ShowcaseApp"]
	path = Colin Peters/Colin_ShowcaseApp
	url = https://github.com/Cpete040/Colin_ShowcaseApp.git
[submodule "Vidulash Rajaratnam/Vidu_PortfolioApp"]
	path = Vidulash Rajaratnam/Vidu_PortfolioApp
	url = https://github.com/Vidulashr/Vidu_PortfolioApp.git
[submodule "Rajitha Muthukrishnan"]
	path = Rajitha Muthukrishnan
	url = https://github.com/RajithaMuthukrishnan/Penpad_NotesApp.git
