<mat-card class="content">
    Data binding is the syntax used to communicate between the model and the template. Interpolation is a form of model to template data binding, but in this section we'll cover the other data binding syntaxes.
    <br>
    The following is the model used in the examples for this section:
    <br>
    <img src="../../assets/images/data_binding_model.PNG" alt="Data Binding Model Example Image">
</mat-card>
<span>
    <div class="horizontal">
        <mat-card class="example-card" [class.mat-elevation-z15]="true">
            <mat-card-header>
                <mat-card-title>Property Binding</mat-card-title>
                <mat-card-subtitle>model values modifying the template</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/property_binding.PNG" alt="Property Binding Example Image">
            <mat-card-content>
                Property binding allows you to use model values as html property values. To bind a property, simply surround it with the [] delimeter.
                <br>
                <div [style.color]="textColor">
                    The following text is colored according to the textColor attribute
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card" [class.mat-elevation-z15]="true">
            <mat-card-header>
                <mat-card-title>Event Binding</mat-card-title>
                <mat-card-subtitle>template events affecting the model</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/event_binding.PNG" alt="Event Binding Example Image">
            <mat-card-content (click)="toggleTextColor()">
                Event binding allows you to do something in the model when a specific event occurs in the template (click, keyup, etc.).
                <br>
                To use event binding, simply deliminate the event in tag with parentheses ().
                <br>
                For example, clicking anywhere on this text will call a method in the model that changes the textColor attribute.
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card" [class.mat-elevation-z15]="true">
            <mat-card-header>
                <mat-card-title>Two Way Binding</mat-card-title>
                <mat-card-subtitle>template and model affect eachother</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/two_way_binding.PNG" alt="Two Way Binding Example Image">
            <mat-card-content>
                Two way binding allows the data to flow both ways. A typical usecase would be an input and a result on the same page. With two way binding, changing the input will update the result in real time.
                <br>
                For example...
                <br>
                <input [(ngModel)]="resultText">
                {{resultText}}
            </mat-card-content>
        </mat-card>
    </div>
</span>