<mat-card class="content" [class.mat-elevation-z15]="true">
    Components are the building blocks of an Angular application. You can create a component using the Angular cli command "ng generate component [your component name]".
    A single component consists of a template, a style sheet, a typescript model containing logic, attributes and the selector, plus a unit test file. Each component is
    like its own isolated, reusable webapp. The navbar, this page (components) and the three sections below (framed-details) are all components. The framed-details component
    is a child component of this page, reused three times, each with different content. Communication between components is discussed under directives.
</mat-card>
<span>
    <div class="horizontal">
        <app-framed-details *ngFor="let topic of topics;" [title]="topic.title" [content]="topic.content" [image_url]="topic.url"></app-framed-details>
    </div>
</span>
