<mat-card ngNonBindable class="content">
    Interpolation is a special type of syntax that allows you to include expressions, function calls and attributes in your template HTML. In order to include a model value in our template, we simply surround the attribute/function/calculation with the {{}} delimeter. 
    <br>
    The best way to understand interpolation is with an example.
    <br>
    In our typescript model we have two string attributes and a function. Using interpolation we can display these attribute values and the function return value in our template.
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
    Example:
    </mat-card-header>
    <img mat-card-image src="../../assets/images/Interpolation_template.PNG" alt="Interpolation Example Image">
    <img mat-card-image src="../../assets/images/Interpolation_model.PNG" alt="Interpolation Example Image">
    <mat-card-content>
        The first string attribute is: {{str1}}
        <br>
        The second string attribute is: {{str2}}
        <br>
        <br>
        You can do simple calculations or even concatenation through interpolation.
        <br>
        The two strings concatenated with a space between makes: {{str1 + " " + str2}}
        <br>
        <br>
        You can even call functions with interpolation, the returned value is displayed.
        <br>
        The length of the first string attribute is: {{countFirstStringLength()}}
    </mat-card-content>
</mat-card>
<mat-card class="content">
    There are some things you can't do with interpolation such as:
    <ul>
        <li>boolean logic (and, or, not)</li>
        <li>assignments, or changes to attributes (=, ++, +=)</li>
        <li>multiple expressions in one interpolation</li>
    </ul>
</mat-card>