<div class="title-bar">
<h1 class="title">Angular Showcase</h1>
<div [class.mat-elevation-z15]="true" class="button-row">  
    <a class="nav-btn" mat-button routerLink="/components">Components</a>
    <a class="nav-btn" mat-button routerLink="/interpolation">Interpolation</a>
    <a class="nav-btn" mat-button routerLink="/data-binding">Data Binding</a>
    <a class="nav-btn" mat-button routerLink="/directives">Directives</a>
    <a class="nav-btn" mat-button routerLink="/pipes">Pipes</a>
    <a class="nav-btn" mat-button routerLink="/services">Services & HTTP</a>
    <a class="nav-btn" mat-button routerLink="/modules">Modules</a>
    <a class="nav-btn" mat-button routerLink="/navigation">Navigation</a>
</div>
</div>
