<mat-card class="content">
    Functionality that is shared accross multiple components can be written into Angular services so that it doesn't need to be repeated.
    The most common use for Angular services is to perform data access to some api by making use of the Angular HttpClient Module.
    <br>
    The following is an example of services and HttpClient in action, retrieving restaurant data from a local JSON file. In an actual application, the url used would be replaced with that of some api.
</mat-card>
<div class="horizontal">
    <mat-card class="example-card" [class.mat-elevation-z15]="true">
        <mat-card-header>
            <mat-card-title>Data Source</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/data.PNG" alt="NgFor Image">
        <mat-card-content>
            For this example we use a local JSON file containing a list of restaurants
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" [class.mat-elevation-z15]="true">
        <mat-card-header>
            <mat-card-title>Service</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/service.PNG" alt="NgFor Image">
        <mat-card-content>
            The angular service uses HttpClient to retrieve the data from the JSON, returning an observable, a type that allows live updates on subscription.
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" [class.mat-elevation-z15]="true">
        <mat-card-header>
            <mat-card-title>Subscription</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/subscription.PNG" alt="NgFor Image">
        <mat-card-content>
            The component subscribes to the observable and assigns the value to a local variable to be displayed. 
        </mat-card-content>
    </mat-card>
</div>
<mat-card class="content">
    <mat-card-header>Here is the result:</mat-card-header>
    <img mat-card-image src="../../assets/images/result.PNG" alt="NgFor Image">
    <div *ngFor="let rest of restaurants">
        {{rest.name}}
    </div>
</mat-card>