<mat-card class="content">
    There are three major kinds of directives: Components, Attribute Directives and Structural Directives. 
    <br>
    Components themselves are directives, called upon by including the selector in another template.
    <br>
    The built in attribute directives include: NgModel, NgStyle and NgClass. NgModel is used in two way binding as discussed under data binding. NgClass and NgStyle allow you to apply multiple css classes or inline styles respectively from the model.
    <br>
    The most useful directives are the built in attribute directives, including: NgFor, NgIf and NgSwitch
    <br>
    The following is the model used in the examples for this section:
    <br>
    <img src="../../assets/images/directives_model.PNG">
</mat-card>
<span>
<div class="horizontal">
<mat-card class="example-card" [class.mat-elevation-z15]="true">
    <mat-card-header>
        <mat-card-title>NgFor</mat-card-title>
        <mat-card-subtitle>a template's for loop</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/ngFor.PNG" alt="NgFor Image">
    <mat-card-content>
        Including the NgFor directive in a tag allows you to duplicate the tag once for each item in a list. Updating the list will update the display in real time.
        <br>
        In the following example, we have a div that displays integers in a list.
        <div *ngFor="let item of items" style="background-color:blue; text-align: center;">
            {{item}}
        </div>
        <button mat-button (click)="addItem()">click me to add to the list</button>
    </mat-card-content>
</mat-card>
<mat-card class="example-card" [class.mat-elevation-z15]="true">
    <mat-card-header>
        <mat-card-title>NgIf</mat-card-title>
        <mat-card-subtitle>a template's if statement</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/ngIf.PNG" alt="NgIf Image">
    <mat-card-content>
        Including the NgIf directive in a tag allows you to hide or display a tag based on the value of a boolean attribute.
        <br>
        In the following example, we have a div that appears or disappears based on the value of the showTag attribute.
        <div *ngIf="showTag" style="background-color:blue; text-align: center;">
            Now you see me
        </div>
        <button mat-button (click)="toggleShowTag()">click me to toggle the value of showTag</button>
    </mat-card-content>
</mat-card>
<mat-card class="example-card" [class.mat-elevation-z15]="true">
    <mat-card-header>
        <mat-card-title>NgSwitch</mat-card-title>
        <mat-card-subtitle>a template's switch case statement</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/ngSwitch.PNG" alt="NgSwitch Image">
    <mat-card-content>
        Including the NgSwitch and NgSwitchCase directives in your template allow you to select one of multiple tags to display based on the value of an attribute.
        <br>
        In the following example, we have 3 divs that can be displayed based on the value you put in the input. The tag with ngSwitchDefault is displayed if the attribute doesn't match one of the expected values.
        <div [ngSwitch]="fruit">
            <div *ngSwitchCase="'apple'" style="background-color: red;">this div is the color of an apple</div>
            <div *ngSwitchCase="'orange'" style="background-color: orange;">this div is the color of an orange</div>
            <div *ngSwitchDefault style="background-color: yellow; color: black;">this div is the color of a banana, try typing apple or orange below</div>
        </div>
        <input [(ngModel)]="fruit">
    </mat-card-content>
</mat-card>
</div>
</span>